doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/jquery-2.2.1.min.js")
        script(src="/js/bootstrap.min.js")
        title Список продуктов
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    .navbar-brand Webmarket
                lu.nav.navbar-nav.nav-tabs
                    li
                        a(href="/") Главная
                    li
                        a(href="/products/") Товары
                lu.nav.navbar-nav.navbar-right
                    li
                        if isAuthorized
                            a(href="/logout") Выйти
                        else
                            a(href="/login") Войти

        .container
            .p.h1 Добро пожаловать!


        .col-md-8
            table.table.dataTable(id = "info")
                thead
                    tr
                        th Название
                        th Стоимость
                        th
                tfoot
                    tr
                        th Название
                        th Стоимость
                        th


script.

    $(document).ready(function () {
        $('#info').DataTable({
            "ajax": {"url": "http://localhost:8080/api/product/", "dataSrc": ""},
            "columns": [
                {'data': "name"},
                {'data': "price"},
                {"defaultContent": "Добавить в корзину"}
            ],
            "deferRender": true
        });
    });

//a. Заголовок. +
//b. Цена. +
//c. Фотография товара.
//d. Конпка добавления в корзину.}!