doctype html
html
    head
        include environment
        title Главная страница
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    .navbar-brand Webmarket
                lu.nav.navbar-nav.nav-tabs
                    li
                        a(href="/") Главная
                    li
                        a(href="/products/") Товары
                lu.nav.navbar-nav.navbar-right
                    li
                        img(src='/images/shopping_cart/empty.png', class='img-responsive')
                    li
                        if isAuthorized
                            a(href="/logout") Выйти
                        else
                            a(href="/login") Войти

        .container
            .p Добро пожаловать
                table.table.dataTable(id = "info")
                    thead
                        tr
                            th
                            th Название
                            th Стоимость
                            th
                    tfoot
                        tr
                            th
                            th Название
                            th Стоимость
                            th

    script.
        require([
            "jquery",
            "datatables",
            "require-css!datatables-css",
            "bootstrap",
            "require-css!bootstrap-css"
        ], function ($) {

            $(document).ready(function () {
                $('#info').DataTable({
                    "ajax": {"url": "/api/product/", "dataSrc": ""},
                    "columns": [
                        {
                            'data': null,
                            'searchable': false,
                            'sortable': false,
                            'render': function (data) {
                                return "<img src='/images/product/" + data.id + ".jpg' class='img-circle' alt='image' width='100px' height='100px' >";
                            }
                        },
                        {
                            'data': null,
                            'render': function (data) {
                                return "<a href='/product/" + data.id + "/'>" + data.name + "</a>";
                            }
                        },
                        {'data': "price"},
                        {
                            'defaultContent': "<img src='/images/shopping_cart/add.png' class='img-responsive' alt=data.name>",
                            'searchable': false,
                            'sortable': false
                        }
                    ],
                    "deferRender": true
                });
            });
        });