doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/jquery-2.2.1.min.js")
        script(src="/js/bootstrap.min.js")
        title Список продуктов
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    .navbar-brand Webmarket
                lu.nav.navbar-nav.nav-tabs
                    li
                        a(href="/") Главна
                    li
                        a(href="/products/") Товары
                lu.nav.navbar-nav.navbar-right
                    li
                        if isAuthorized
                            a(href="/logout") Выйти
                        else
                            a(href="/login") Войти

        .container
            .p.h1 Добро пожаловать!


        .container
            div
                table.table.table-hover
                    thead
                        tr
                            th №
                            th Название
                            th Стоимость
                            th
                    tbody(id='info')

    script.
        $.ajax({
            url: 'http://localhost:8080/api/product/',
            data: {format: 'json'},
            dataType: 'json',
            success: function (data) {
                var $title, $price, id;
                for (var i = 0; i < data.length; i++) {
                    id = data[i].id;
                    $('#info').append('<tr>'
                        + '<td>'
                        + (i + 1)
                        + '<td>'
                        + '<a href="/product/' + id + '">' + data[i].name + '</a>'
                        + '<td>'
                        + data[i].price
                        + '<td>'
                        + 'Добавить в корзину');
                }
            },
            type: 'GET'
        });


        //a. Заголовок. +
        //b. Цена. +
        //c. Фотография товара.
        //d. Конпка добавления в корзину.}!