doctype html
html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css")
        title Вход
    body
        include navbar

        .container
            .row
                .col-md-4
                .col-md-4
                    if error
                        .alert.alert-danger
                            strong #{error}
                    if isAuthorized
                        a.btn.btn-lg.btn-primary.btn-block(type="button", href="logout") Выйти
                    else
                        form(role="form", action="perform_login", method="POST")
                            .form-group
                                input(type = "username", class = "form-control", name = "username", placeholder="Имя пользователя")
                            .form-group
                                input(type = "password", class = "form-control", name = "password", placeholder="Пароль")
                            button.btn.btn-lg.btn-primary.btn-block(type="submit") Войти
                            a.btn.btn-lg.btn-primary.btn-block(type="button", href="/register") Регистрация