nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            .navbar-brand Webmarket
        lu.nav.navbar-nav.nav-tabs
            li
                if isAuthorized
                    a(href="/products") Товары
            li
                if isAuthorized
                    if isSeller
                        a(href="/addproduct") Добавить товар

        lu.nav.navbar-nav.navbar-right.nav-tabs
            if isAuthorized
                li
                    .h1 #{user.userName}
                li
                    a(href="/shoppingcart")
                        div(id = 'shoppingCartInfo')
                            img(src='/images/shopping_cart/empty.png', class='img-responsive')
                li
                    if isAuthorized
                        .h1
                            div(id = 'shoppingCartCost')

            li
                if isAuthorized
                    a(href="/logout") Выйти
                else
                    a(href="/login") Войти
    if isAuthorized
        script.
            require(['pages/CostShoppingCart'], function (CostShoppingCart) {
                const options = {
                    shoppingCartCostElementId: 'shoppingCartCost'
                };
                var navigationMenuCost = new CostShoppingCart(options);
                navigationMenuCost.draw();
            });