doctype html

html
    head
        include environment
        title Ваши заказы
    body
        include navbar

        .container
            .col-md-12

                .div(id = 'ordersControl')

    script.
        require(['pages/Orders'], function (Orders) {
            const options = {
                ordersControlId: 'ordersControl'
            };
            var ordersPage = new Orders(options);
            ordersPage.draw();

        });
