doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/bootstrap.min.js")
        title Продукт
    body
        .container(id='info')

    script.
        var str = document.location.href;
        var regexp = 'product/';
        var index_id = str.indexOf(regexp);
        var id = str.slice(index_id+regexp.length);
        var url = "http://localhost:8080/api/product/"+ id;
        $.ajax({
            type: 'get',
            url: url,
            dataType: 'json',
            success: function (data) {

                $('#info').append('<p>'
                    + '<h1>' + data.name + '</h1>'
                    + '<p>'
                    + data.price
                    + '<p>'
                    + 'Добавить в корзину');

            }
        });


        //a. Заголовок. +
        //b. Цена. +
        //c. Фотография товара.
        //d. Описание.
        //e. Конпка добавления в корзину.
