doctype html
html
    head
        include environment
        title(id='title')
    body
        include navbar

        .container
            .col-md-8(id='info')

    script.
        require(['pages/Product'], function (Product) {

            var productPage = new Product();
            productPage.draw();
        });