doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/bootstrap.min.js")
        title Продукт #{product.name}
    body
        .container
            h1 #{product.name}
            p
                #{product.name}
            p
                #{product.price}
            p
                Добавить в корзину


        // Информация о конкретном товаре
        //a. Заголовок.
        //b. Цена.
        //c. Фотография товара.
        //d. Описание.
        //e. Конпка добавления в корзину.
