doctype html

html
    head
        include environment
        title Список товаров
    body
        include navbar

        .container

            .col-md-12
                table.table.dataTable(id = "info" )
                    thead
                        tr
                            th
                            th Название
                            th Стоимость
                            th
                    tfoot
                        tr
                            th
                            th Название
                            th Стоимость
                            th
    script.

        require(['pages/Products'], function (Products) {
            const options = {
                productsTableElementId: 'info'
            };
            var productsPage = new Products(options);
            productsPage.draw();
        });