doctype html
html
    head
        include environment
        title Корзина
    body
        include navbar

        .container
            .col-md-12
                table.table.dataTable(id = "shoppingCartTableId")
                    thead
                        tr
                            th Изображение
                            th Название
                            th Стоимость
                            th Количество
                    tfoot
                        tr
                            th Изображение
                            th Название
                            th Стоимость
                            th Количество


    script.

        require(['pages/ShoppingCart'], function (ShoppingCart) {
            const options = {
                shoppingCartTableElementId: 'shoppingCartTableId'
            };
            var shoppingCartPage = new ShoppingCart(options);
            shoppingCartPage.draw();
        });

